{{!-- header image --}}
<header class="container">
  <div class="row">
    <img class="mx-auto" src="/assets/img/goodburger.jpg" alt="Good Burger">
  </div>
</header>


{{!-- dynamically create a list of burgers that have not been eaten --}}
<div class="row m-3 mx-auto w-75">
  <section class="container col-sm">
    <h2 class="m-3 text-center font-weight-bold">Burgers to eat</h2>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      <li class="mt-2"><button data-id="{{ id }}" class="devour btn btn-danger btn-sm mr-1">Devour
          it</button>{{ burger_name }}
      </li>
      {{/unless}}
      {{/each}}
    </ul>
  </section>

  {{!-- dynamically create a list of burgers that have been eaten --}}
  <section class="container col-sm">
    <h2 class="m-3 text-center font-weight-bold">Devoured Burgers</h2>
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li class="mt-2"><button data-id="{{ id }}" class="trash btn btn-danger btn-sm mr-1">Trash
          it</button>{{burger_name}}</li>
      {{/if}}
      {{/each}}
    </ul>
  </section>
</div>

{{!-- input form to add burgers --}}
<section class="container my-5 w-75">
  <h2 class="font-weight-bold">Add a Burger:</h2>
  <form class="newBurger">
    <div class="input-group mb-3">
      <input id="burgerName" type="text" class="form-control" placeholder="Add burger here"
        aria-label="Add burger name">
      <div class="input-group-append">
        <button class="btn btn-danger btn-outline-body text-white" type="submit">Add</button>
      </div>
    </div>
  </form>
</section>